/*body{*/
/*    background-color: lightgray !important;*/
/*}*/

.navbar-brand-img{
    height: 70px;
}
span{
    margin-right: 1rem;
}
h1{
    margin-top: 3rem !important;
}

.welcome{
    margin-bottom: 100px !important;
}